/* img{
  object-fit: cover;
}
button{
  cursor: pointer;
} */


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&display=swap');

:root{
  --green: #006dda;
  /* --green:#AAE82F; */
  --black:#192a56;
  --light-color:#666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s linear;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

html{
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

nav{
  padding:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
}

nav .logo {
  color: var(--black);
  font-size: 25px;
  font-weight: bold;
}
nav .nav__menu-list{
  flex: 1;
}
nav .linkContainer{
  display: flex;
  justify-content: center;
  flex: 1;
}
nav .link {
  margin: 0 3px;
}
.nav .linkInner{
  text-align: center;
  overflow: hidden;
  border-radius: .5rem;
  padding: 5px;
}
nav .linkInner a {
  color: var(--light-color);
  padding: .5rem 1.5rem;
}
nav  .activeLink a,
nav .linkInner:hover a{
  color: #fff;
}
nav .activeLink,
nav .linkInner:hover{
  background: var(--green);
}

@keyframes slideIn {
  from {
    opacity: 0;
    top:55px;
  }
  to {
    opacity: 1;
    top:0;
  }
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: var(--green);
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: var(--green);
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: var(--green);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--green);

  
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}


input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
.auth{
  position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: var(--box-shadow);
    justify-content: space-evenly;
    background: #fff;
    padding: 10px;
    left: 0;
    right: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 2px solid var(--green);
}
.auth > *{
  padding: 5px 10px;
  background: var(--green);
  color: #fff;
  border-radius: 10px;
}
.in,
.out{
  display: none;
}
.in.active,
.out.active{
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  html{
    font-size: 70%;
  }
  header{
    padding: 1rem 0.5rem 1rem 1rem;
  }
}

@media screen and (max-width: 768px){
  .menu{
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content:baseline;
    row-gap: 6px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 40px;
    height: 60px;
  }
  .menu div{
    width: 20px;
    height: 100%;
    position: relative;
    margin:5px;
  
  }
  
  .menu span {
    background: var(--black);
      width: 100%;
    height: 0.1em;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s, background-color 0.5s;
  }
  
  .menu .line-1 {
    width: 50%;
    transform: translate(-100%, -10px);
  }
  
  .menu .line-3 {
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(0, 8px);
  }
  
  .openmenu .line-1 {
    transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .openmenu .line-2 {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .openmenu .line-3 {
    transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
    .nav__menu-list{
    display: none;
  }
  .nav__menu-list{
    position: fixed;
    right: -100%;
    padding: 24px 16px;
    transition: all 0.8s;
    overflow: hidden;
    display: none;
  }
  .nav__menu-list.active{
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    padding: 1rem;
    /* background: linear-gradient(135deg, rgba(255,255,255,.2), rgba(255,255,255,0.)); */
    height: 100vh;
    right: 0;
  }
  .nav__menu-list.active .linkInner{
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
    overflow: hidden;
    opacity: 0;
    position: relative;
    top: 55px;
    animation-delay: 2s;
  }
  .nav__menu-list.active .link{
    overflow: hidden;
    position: relative;
    width: 100vw;
  }
  
  .nav__menu-list.active .openmenu .linkInner {
    animation-delay: 2s;
    animation: slideIn 3s forwards;
  }
  .nav__menu-list.active .linkContainer{
    flex-wrap: wrap;
   
  }
  .nav__menu-list.active  .activeLink a,
  .nav__menu-list.active .linkInner:hover a{
  color: #fff;
}
.nav__menu-list.active .activeLink,
.nav__menu-list.active .linkInner:hover{
  background: var(--green);
}
}






/* 

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  width: 465px;
  height: 499px;
  border-radius: 10px;
}

.current {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 100px;
  flex-wrap: wrap;
  height: 100%;
}
.content {
  width: 50%;
  color: var(--black);
  padding: 3rem;
  padding-left: 0;
  animation: slide-up 1s ease 0.5s;
   animation-delay: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.image{
  display: flex;
  align-items: center;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 17rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
  }
}

.content > * {
  color: var(--black);
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  transition: all 0.5s ease;
} */

/* .arrow {
  border: 2px solid white;
  background-color: transparent;
  color: var(--green);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}
.arrow:hover {
  background-color: #fff;
  color: #777;
}

.next {
  top: 45%;
  right: 1.5rem;
}
.prev {
  top: 45%;
  left: 1.5rem;
} */

/* hr {
  height: 2px;
  background: white;
  width: 50%;
}
h1{
  font-size: 40px;
  margin-bottom: 20px;
}
.des{
  color: var(--light-color);
  width: 450px;
}
.go-down{
  color: var(--green);
  position: absolute;
  bottom: 30px;
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: .6s;
  animation: bouncing 2s infinite;
}
.landing .go-down .icon{
  animation: bouncing 2s infinite;
  color: #feca04;
}
@keyframes bouncing{
  0%, 10%, 20%, 50%, 80%, 100%{
      transform: translateY(0);
  }
  40%, 60%{
      transform: translateY(-15px);
  }
} */



/* According */
.according{
  padding-top: 6rem;
  padding-bottom: 5rem;
  display: grid;
  place-items: center;
  background-color: #eee;
}
.according-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
}
.left{
  padding-right: 4rem;
  width: 50%;
  position: relative;
}
.left h3{
  font-size: 46px;
  font-weight: 300;
  font-family: 'Nuosu SIL', serif;
  color: #414243;
  margin-bottom: 1rem;
}
.left-content{
  display: flex;
  justify-content:left;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.left-content .collapsible{
  cursor: pointer;
  font-size: 15px;
  line-height: 28px;
  color: #727272;
  font-family: "poppins", sans-serif;
  position: relative;
}
.Trigger{
  width: 15px;
  position: absolute;
  left: -17px;
}
.content-show{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  color: #727272;
  font-weight: 400;
  line-height: 28px;
}
.right{
  border-radius: 10px;
  overflow: hidden;
  padding-left: 4rem;
}
.right img{
  width: 400px;
  height: 450px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px){
  .left{
      padding-right: 3rem;
      width: 50%;
  }
  .right{
      padding-right: 3rem;
  }
  .right img{
      width: 300px;
      height: 390px;
  }
}
@media screen and (max-width: 1200px) {
  .according-row{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 5rem;
      padding-right: 5rem;
  }
  .left{
      padding: 0;
      width: 90%;
  }
  .right{
      padding: 3rem 0 0 0;
  }
  .right img{
      width: 400px;
  }
}
@media screen and (max-width: 768px){
  .according{
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: grid;
      place-items: center;
  }
  .according-row{
      padding-left: 2rem;
      padding-right: 2rem;
  }
  .right img{
      width: 400px;
  }
}
@media screen and (max-width: 476px){
  .according-row{
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .left h3{
      font-size: 2.3rem;
      font-weight: 400;
      margin-bottom: 1rem;
  }
  .right img{
      width: 350px;
  }
}
@media screen and (max-width: 384px){
  .right img{
      width: 250px;
      height: 300px;
  }
  .left-content .collapsible{
      font-size: 14px;
  }
}
@media screen and (max-width: 334px){
  .right img{
      width: 200px;
      height: 300px;
  }
}