/* .container {
    height: 80vh;
    background-image: url("../public/imgs/2e3658ba1403f4902edfa66878fe839c-Recovered.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; 
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
  }
  
  .textarea {
    width: 35%;
    height: 200px;
    border-radius: 30px;
    padding: 10px; 
  }
  
  .button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
  } */
   

   .container {
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: left;
    justify-content: center;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
  }
  
  .wrapper {
    width: 500px;
    /* background: linear-gradient(to bottom right, #f05a28, #3399ff); */
    background: linear-gradient(135deg, rgba(255,255,255,.4), rgba(255,255,255,0));
    border-radius: 20px;
    padding: 50px;
    max-width:100vw;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: flow-root;
  }
  
  .image{
    background-image: url(/imgs/contact.jpg);
    width: 500px;
    /* background: linear-gradient(to bottom right, #f05a28, #3399ff); */
    height: 400px;
    border-radius: 20px;
    padding: 50px;
    max-width:100vw;
    background-position: center;
    background-size: cover;
    display: flow-root;
  }
  .title {
    font-weight: 300;
    color:#006dda;
    
    text-align: center;
    padding: 30px 0;
    font-size: 24px;

  }
  
  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    color: #1f285c;
    font-weight: bold;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #006dda;
    padding-left: 10px;
  }
  
  .button {
    border: none;
    background-color:#006dda;
    color: white;
    margin: auto;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  } 
  @media screen and (max-width: 800px) {
    .container{
      padding-top: 50px;
      height: fit-content;
    }
    .content{
      flex-direction: column-reverse;
    }
  }