@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&display=swap');



.container{
    min-height: 100vh;
    height:fit-content;
    width:100%;
    display:inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    position:relative;
    align-items: center;
    justify-content:space-between;
    font-family: 'Lato', sans-serif;
    padding: 10px 150px 0px 150px;
    overflow:hidden;
    margin: 0;
}

.text{
    /* min-width:472px; */
    width:50vw;
    flex: 1 0 50%;
}

.title{
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    height: 111px;
}

.description{
    margin-top: 13px;
    font-size:16px;
    font-weight:500;
    margin-bottom: 30px;
}


.mainTitle{
    animation: popUp 3s ease forwards infinite;
}

.icons{
    margin-top: 13px;
}

.icon{
    margin: 0 7px;
    cursor:pointer;
    width: 25px;
}

.images{
    display:flex; 
    position:relative;
    justify-content:center;
    
    /* width:465; height:499; */
    width:50vw;
    flex: 1 0 50%;
    height: 100vh;
    align-items: flex-end;
    border-radius: 7px;
    overflow: hidden;
    align-self: flex-end;
    /* max-width: 300px; */
}

.image{
    
    max-width:100%;
    max-height:100%;
    height: 100%;
    border-radius: 10px;

}
.images img{
    max-height: 80vh;
}

.video{
    animation: zoomIn2 5.5s ease forwards infinite;
}
.button{
    flex: 0 1 100%;
    display:flex;
    justify-content:flex-start;
    width:100vw;

}


.link{
    display: flex;
    margin-top: 2rem;
}
.link .explore{
    margin-right: 20px;
    padding: 12px 40px;
    background-color: #006dda;
    border: 1px solid #006dda;
    border-radius: 2rem 0 2rem 0;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    transition: 1s ease-in-out;
}
.link .explore:hover{
    color: #006dda;
    background: transparent;
}
.link .contact{
    padding: 12px 40px;
    border: 1px solid #006dda;
    border-radius: 2rem 0 2rem 0;
    color: #006dda;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    transition: 1s ease-in-out;
}
.link .contact:hover{
    background-color: #006dda;
    color: #fff;
}



@keyframes leftMove {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;
    }
}
@keyframes rightMove {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
@keyframes popUp{
    0%{
        transform: scale(0.9);
        opacity: 0.7;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0.9);
        opacity: 0.7;
    }
}
@keyframes zoomIn2{
    
    0%{
        transform: scale(0);
        opacity: 0;
        display:none;
    }
    5%{
        
        transform: scale(1);
        opacity: 1;
        display: block;
    }
    10%{
        transform: scale(1);
        opacity: 1;
        display: block;
    }
    60%{
        transform: scale(1);
        display: block;
        opacity: 1;
    }
    65%{
        transform: scale(0);
        opacity: 0;
        display:none;
    }
    100%{
        transform: scale(0);
        opacity: 0;
        display:none;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(1);
        opacity: 1;
        display:block;
    }
    5%{
        transform: scale(0);
        opacity: 0;
        display:none;
    }
    64%{
        transform: scale(0);
        opacity: 0;
        display:none;
    }
    65%{
        transform: scale(1);
        opacity: 1;
        display:block;
    }
    
    100%{
        transform: scale(1);
        opacity: 1;
        display:block;
    }
}
@keyframes floatImage {
    
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(24px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width:1245px) {
    .container{
        padding: 95px 0px 0px 0px;
        position:relative;
        max-width: 100vw;
        min-height:100vh;
        overflow:hidden;
        font-size:.5em;
        height:fit-content;
        flex-direction:column;
        justify-content:center;
        align-content: center;
    }

    .images{
        max-width:155px;;
        flex:2;
        justify-content:center;
        display:flex; 
        position:relative;
        width:50vw;
        height: 200px;
        max-width: 300px;
        padding:0;
    }

    
    .image{
        display:block;
        min-height: 30vw;
        height:100%;
        width: 100%;
        max-width:100%;
        width: 100%;
        height: 100%;
        
    }
    .images {
        align-self: center;
    }
    .video{
        display:block;
        min-height: 30vw;
        height:100%;
        
        min-width: 20vw;
        max-width:100%;
    }


    .text{
        padding-top:30px;
        width: 100vw; 
        flex:2;
        font-size: 26px;
        /*margin-bottom: 60px;*/
        z-index:10;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


   

    .title,
    .description{
        width: 80vw;
        font-weight:bold;
        /* margin-right: 0px;*/
        text-align: center;
    } 
    .titleH1,
    .title{
        display: inline-block;
    margin: 0px;
    max-width: 80vw;
    font-size: 30px;
    height: 80px;
}
    
    

    .description{
        font-size:medium;
    }
    .button{
        position:relative;
        margin: 30px auto;
        justify-content:center;
        display:flex; 
        padding:0;
    }
    .mainTitle{
        margin:0 auto;
    }

}

@media screen and (max-width:355px){
    .text{
        padding: 0px 0px 7px 0px;
    }
}
@media screen and (max-width: 350px) {

    .title{
        height: 123px;
    }

}

@media screen and (max-width:768px) {
    .link .explore{
        padding: 10px 25px;
    }
    .link .contact{
        padding: 10px 25px;
    }
}
@media screen and (max-width:480px) {
    .link a{
        font-size: 14px;
    }
    .container{
        min-height: 95vh;
    }
}
@media screen and (max-width: 380px) {
    .link .contact{
        padding: 10px 17px;
    }
    .link .explore{
        padding: 10px 17px;
        margin-right: 10px;
    }

}