.container{
    min-height: 70vh;
    width:100%;
    max-width:100vw;
    /* background-color: rgb(255 128 128 / 39%); */
    padding: 3rem 3rem 7rem 3rem;
    display:inline-flex;
    flex-direction: column;
    align-items:center;
    max-width: 100%;
    overflow: hidden;
}
.heading{
    text-align: center;
    text-transform: capitalize;
}
.title{
    display: inline-block;
    margin-bottom: 0;
    color: #006dda;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    font-family: "poppins", sans-serif;  
}
.title::before{
    position: absolute;
    bottom: -6px;
    left: 50%;
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #1f285c;
}
.title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30%;
    height: 6px;
    background: #1f285c;
}

.wrapper{
    margin-top: 70px;
    width: 100%;; 
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}.link{
    text-decoration:none;
}
.cardContainerTwo,
.cardContainer{
    height: 265px;
    width: 200px;
    max-width: 400px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 20px 20px;
    position: relative;
    cursor: pointer;
    -webkit-text-decoration: underline aliceblue;
    text-decoration: underline aliceblue;
    box-shadow: 10px 5px 5px black;
    border-top: 3px solid #006dda;
    border-bottom: 3px solid #006dda;
}
.cardContainerTwo:hover,
.cardContainer:hover{
    transform: translateY(-5px) ;
    transition: all .2s ease-in-out;
}
.cardContainerTwo{
    position: relative;
}
.cardContainerTwo::after{
    content: "SOON";
    position: absolute;
    height: 22px;
    width: 100%;
    color: aliceblue;
    background: #1f285c;
    top: 37%;
}


.cardtitle{
    font-size: 1.2rem;
    font-weight:bold;
    color: #006dda;
    display:flex;
    align-items:center;
    text-align: center;
    margin-top: 20px;
}

.image{
    position:absolute;
    top:-30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    color: #1f285c;
}

.desc{
    text-align:center;
    color:#1f285c;
    overflow:hidden;
    text-overflow:ellipsis;
    height:80px;
    text-overflow: ellipsis;
    text-decoration: none;
    margin-top: 20px;
}

.line{
    color: #1f285c;
    width: 100%;
    max-width: 200px;
    height: 2px;
    background: #1f285c;

}

@media screen and (max-width: 480px){
    .title{
        font-size: 1rem;
    }
    
    .line{
        max-width: 150px;
    }
    
}
@media screen and (max-width: 360px) {
    /* .title::after,
    .title::before{
        width: 50%;
    max-width: 10vw;
    } */
    /* .title::before{
        right: -40%;
    }
    .title::after{
        left: -40%;
    } */
    
}

.shuffle{
    display: flex;
    justify-content: center;
}

.link{
    padding: 10px;
}

.active{
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 828px) {
    .container {
      text-align: center;
      width:100vw;
    }
  }
  .r {
    display: hidden;
  }